<nav class=" postnav navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
        <div><a class="navbar-brand" href="#">
                <h2>RED-DI-A-GRAM</h2>
            </a></div>
<div>
            
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/home/{{userId}}/{{thisUserName}}">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="/contact/{{userId}}/{{thisUserName}}">Contact</a>
                    <a class="nav-item nav-link active" href="/submit/{{userId}}/{{thisUserName}}">Post</a>
                    <a class="nav-item nav-link" href="/logout">Logout</a>
                </div>
            </div>
        </div>
            </nav>